<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">
    
 <welcome-file-list>
 <welcome-file>index.html</welcome-file>
 </welcome-file-list>
    
    <servlet>
        <servlet-name>det</servlet-name>
        <servlet-class>com.mycompany.webintro.Events</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>det</servlet-name>
        <url-pattern>/event</url-pattern>
    </servlet-mapping>
 
    <servlet>
        <servlet-name>prof</servlet-name>
        <servlet-class>com.mycompany.webintro.Player</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>prof</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>clu</servlet-name>
        <servlet-class>com.mycompany.webintro.ClubStat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clu</servlet-name>
        <url-pattern>/clubs</url-pattern>
    </servlet-mapping>
</web-app>
